<div class="container-fluid">

  <div class="header">
    <div class="row">
      <div class="col">
        <h1> Review Order </h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p> Total: $4.99 </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-6">
      <div class="row">
        <div class="col">
          <div id="recipient-details">
            <ul>
              <li><%= @card.recipient_name %></li>
              <li><%= @card.street_address %></li>
              <li><%= @card.city %></li>
              <li><%= @card.state %></li>
              <li><%= @card.zip_code %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="custom-card-details">
            <p class="message"><%= @card.custom_message %></p>
            <p class="signature"><%= @card.signature %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="payment-buttons">
            <%= form_tag charges_path do %>
              <article class="payment-area">
                <% if flash[:error].present? %>
                  <div id="error_explanation">
                    <p><%= flash[:error] %></p>
                  </div>
                <% end %>
              </article>

              <script src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Handwritten card delivered by post"
                data-amount="499"
                data-locale="auto">
              </script>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-10 col-md-6">
      <img id="template-<%= @template.id %>-image"
           src="/assets/<%= @template.image_file %>"
           class="img-fluid img-thumbnail"
           alt="<%= @template.greeting %>"
      >
    </div>
  </div>
</div>
