<div class='container-fluid'>
  <h2> Customize your message here </h2>

  <form class="form-horizontal center" role="form">
    <%= form_for [@template, Card.new] do |f| %>

      <div class='row'>
        <div class='col-2 text-right'>
          <p><%= @template.greeting %></p>
        </div>
      </div>

      <div class='form-group'>
        <div class='field row'>
          <%= f.label :recipient_name, "Recipient Name", class: "col-2 text-right"%>
          <%= f.text_field :recipient_name, required: true, class: "col-4 form-control"%>
        </div>
        <div class='field row'>
          <%= f.label :street_address, "Address", class: "col-2 text-right"%>
          <%= f.text_field :street_address, required: true, class: "col-4 form-control" %>
        </div>
        <div class='field row'>
          <%= f.label :city, "City" , class: "col-2 text-right"%>
          <%= f.text_field :city, required: true, class: "col-4 form-control" %>
        </div>
        <div class='field row'>
          <%= f.label :state, "State", class: "col-2 text-right" %>
          <%= f.text_field :state, required: true, class: "col-4 form-control" %>
        </div>
        <div class='field row'>
          <%= f.label :zip_code, "Zip Code", class: "col-2 text-right" %>
          <%= f.text_field :zip_code, required: true, class: "col-4 form-control" %>
        </div>
      </div>

      <div class='form-group'>
        <div class='field row'>
          <%= f.label :custom_message, "Custom Message", class: "col-2 text-right" %>
          <%= f.text_field :custom_message, class: "col-8 form-control" %>
        </div>
      </div>
      <div class='form-group'>
        <div class='field row'>
          <%= f.label :signature, "Signature", class: "col-2 text-right" %>
          <%= f.text_field :signature, class: "col-8 form-control" %>
        </div>
      </div>
      <%= f.hidden_field :card_template_id, value: @template.id %>

      <div class='row'>
        <div class='col-2'> </div>
        <div class='col-2'>
          <%= f.submit "Send Card" %>
        </div>
      </div>

    <% end %>
  </form>

  <%= form_tag charges_path do %>
    <article class='payment-area'>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Total: $4.99</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="custom greeting card"
            data-amount="499"
            data-locale="auto"></script>
  <% end %>

</div>
